---
layout: default
---
<div class="post">
  <header class="post-header">
    <h1 class="post-title">{{ page.title }}</h1>
    <p class="post-description">{{ page.description }}</p>
  </header>

  <div class="container">
   <center><img src="https://livememphis-my.sharepoint.com/:i:/r/personal/xhuang7_memphis_edu/Documents/Fundings/NSF%20MRI%2723%20-%20GPU%20Cluster/iTiger-Website/head_node.png?csf=1&web=1&e=QWmOTA" class="img-fluid"></center>
   <center><p>Head Node + Login Node Specifications</p></center>
   <center><img src="https://livememphis-my.sharepoint.com/:i:/r/personal/xhuang7_memphis_edu/Documents/Fundings/NSF%20MRI%2723%20-%20GPU%20Cluster/iTiger-Website/compute_node.png?csf=1&web=1&e=ZDNybY" class="img-fluid"></center>
   <center><p>Compute Node Specifications</p></center>
  </div>
  <article>
    {{ content }}
  </article>

  {% if page.related_publications %}
    <h2>References</h2>
    <div class="publications">
      {% bibliography --cited_in_order %}
    </div>
  {% endif %}

  {% if site.giscus and page.giscus_comments %}
    {% include giscus.liquid %}
  {% endif %}
</div>
